x/.settings
/target
/.classpath
/.project
/lardicore.log
.idea
.gradle
*.iml
/nb-configuration.xml
/nbactions.xml
/**/*.class

# EduTools
/**/out/production/*
/**/build/classes/*
/**/build/reports/*
/**/build/test-results/*
/**/build/tmp/*